/* &display=swap */
@import "null.css";
@font-face {
	font-family: "CircularStd";
	src: url("../fonts/CircularStd-Book.woff2") format("woff2"), url("../fonts/CircularStd-Book.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "CircularStd";
	src: url("../fonts/CircularStd-Black.woff2") format("woff2"), url("../fonts/CircularStd-Black.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "CircularStd";
	src: url("../fonts/CircularStd-Medium.woff2") format("woff2"), url("../fonts/CircularStd-Medium.woff") format("woff");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

body {
	font-family: CircularStd, serif;
	font-size: 18px;
}

.wrapper {
	overflow: hidden;
	min-height: 100%;
	max-width: 1025px;
	margin: 0 auto;
}

.title {
	padding: 140px 0px 0px 0px;
	margin: 0px 0px 20px 0px;
	text-align: center;
	font-weight: 700;
	font-size: 65px;
	line-height: 1.26;
	color: #313131;
}
.subtitle {
	margin: 0 auto 224px auto;
	max-width: 750px;
	text-align: center;
	font-size: 20px;
	line-height: calc(25 / 20);
}

.review {
	max-width: 508px;
}

.review-title {
	margin: 0px 0px 20px 0px;
	font-size: 34px;
	font-weight: calc(44 / 34);
	font-weight: 700;
	color: #313131;
}
.review-text {
	line-height: calc(28 / 18);
	color: #5f5f5f;
	margin: 0px 0px 125px 0px;
}
.name {
	line-height: calc(23 / 18);
	font-weight: 700;
	margin: 0px 0px 5px 0px;
}
.position {
	line-height: calc(23 / 18);
	color: #b8b8b8;
	margin: 0px 0px 25px 0px;
}
.image {
}
